.noposition{
    display: flex;
    div{
        padding-right: 40px;
    }
    div div:nth-child(1){
       color:#4d4d4dbd;
       font-weight: 400;
       font-size: 15px;
       padding-bottom: 5px;
    }
    div div:nth-child(2){
        color:#242424;
        font-weight: 500;
        font-size: 15px;
     }
}