.tempClass{
    cursor: pointer;

    :hover{
        text-decoration: underline;
    }
}

.tempClass:hover{
        text-decoration: underline;
    }


.ProjectTaskId{
    color:  #1D7DBD;
    cursor: pointer;
    text-decoration: underline;
}

    // .blinkingtext{
    //     animation: blinker 2s linear infinite;
    //     color: yellow;
    //     font-size: 18px;
    // }
    
    // @keyframes blinker {
    //   50% {
    //     opacity: 0;
    //   }
    // }


