.generateTable .MuiTableContainer-root{
    background-color: white !important;
}

.btngenerate{
    text-align: right;
    padding-right: 20px;
    margin-top: 30px;
}

.projectlink{
    color: #1890ff;
    text-decoration: underline;
    cursor: pointer;
}