.generateTable .MuiTableContainer-root{
    background-color: white !important;
}

.btngenerate{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin-top: 30px;
}

.projectlink{
    color: #1890ff;
    text-decoration: underline;
    cursor: pointer;
}
.grandTotal{    
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    }