.tableHead .MuiButtonBase-root.MuiTableSortLabel-root,.tableHeadsno{
    color:#0353A4 !important;
    font-weight: 900 !important;
}

.tableTitle{
    padding: 2px 15px;
    font-weight: 800;
    font-size: 16px;
}