.appraisalContainer {
    width: 100%;
    background-color: white;
    border-radius: 7px;
    margin: 10px 5px;
    padding: 10px;
}
.empDetails {
    display: flex;
    > div {
        width: 20%;
        padding: 5px;
        > div:first-child {
            font-weight: 600;
            font-size: 16px;
        }
    }
}

.appraisalFieldheading {
    margin-bottom: 5px;
}

.plusiconview {
    width: 20px;
    padding-top: 10px;
    cursor: pointer;
}

.appraisalTable {
    width: 30%;
    background-color: #f0f0f0;
    height: 100px;
    overflow: auto;
    border-radius: 8px;
}

.appraisaldetails {
    display: flex;
    padding: 10px 0px;
    border-bottom: #f0f0f0 1px solid;
    color: #707070;
    > div {
        width: 50%;
    }
}

.appraisaldata {
    display: flex;
    padding-bottom: 5px;

    > div {
        width: 50%;
    }
}

.linkingModel {
    width: 100%;
    padding: 10px;
    background-color: white;
    margin: 0px 5px 3px 5px;
    border-radius: 7px;
    display: flex;
    .linkview {
        color: #1d7dbd;
        text-decoration: underline;
        cursor: pointer;
    }
}

.subheading {
    margin: 10px;
}

.ant-collapse-content > .ant-collapse-content-box {
    padding: 16px 16px 16px 40px !important;
}

.linkChoose {
    width: 100%;
    padding: 10px;
    background-color: white;
    margin: 0px 5px 3px 5px;
    border-radius: 7px;
    display: flex;
    > div:first-child {
        width: 40%;
        margin-right: 50px;
        font-weight: 600;
    }
    > div {
        margin-right: 50px;
    }
}
.chooseleave {
    width: 100%;
    padding: 10px;
    background-color: white;
    margin: 0px 5px 3px 5px;
    border-radius: 7px;
    .linkChooseOption {
        width: 100%;
        display: flex;

        > div:first-child {
            width: 40%;
            margin-right: 50px;
            font-weight: 600;
        }
        > div {
            margin-right: 50px;
        }
    }
}

.reasonBox {
    > div {
        width: 60%;
        margin: 5px;
    }
}

.appraisalBtn {
    margin: 20px;
    text-align: center;
}

// Appraisal Model

.appModeltitle {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}

.modelbox {
    > div {
        width: 100%;
        margin: 5px;
    }
}

// rating Model

.empDetailsIn{
    display: flex;
    >div{
        width: 50%;
    }
}

.employeeData{
    font-size: 16px;
    font-weight: 600;
}

.areaDevelopment{
    margin-top: 10px;
    display: flex;
    >img{
        margin-left: 10px;
    }
}


// Appraisal Supervisor View

.commentLine{
    margin: 5px 0px;
    padding: 5px;
}

.appraisal_collapse{
    margin: 0px 0px 3px 5px;
}

.appraisal_collapse {
    .ant-collapse{
        background-color: white !important;
    }
    .ant-collapse-arrow svg{
    position: relative;
    // top: 50%  !important;
    left: 1050px !important;
    // font-size: 16px !important;
    .ant-collapse-header{
        font-weight: 600 !important;
        font-size: 16px;
    }
    
  
}
}

.empAppraisalContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}

.employeeApprisal_Container{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    .employeeApprisal_Child_Container:nth-child(2),
    .employeeApprisal_Child_Container:nth-child(3) {
        height:20%;
      }
}

.employeeApprisal_Child_Container{
    border-radius: 10px;
    width: 33%;
    background-color: #f3f3f3;
    padding: 20px;
}

.TitleChildDiv{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    box-shadow: 0px 2px #e8e5e5;
    font-weight: 600;
    >div{
        width:50%;
    }
}
.ValueChildDiv{
    display: flex;
    padding:10px;
    >div{
        width:50%;
    }
}

.gridDatashow{
    height: 100px;
    overflow: auto;
}

//AppraisalView
.RatingContainer{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    overflow: auto;
    height: 200px;
}
.RateBox{
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
    border: 1px solid #3f51b5;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 5px;
}
.RatingContentBox{
    display: flex;
    justify-content: space-between;
}
.heading{
    font-weight: 600;
    color: #0353A4;
    font-size: 15px;
}
//MP_Appraisal
.mp_appraisal_container{
    width: 100%;
    background-color: white;
    border-radius: 7px;
    margin: 10px 5px;
    padding: 10px;
}
.empDet {
    display: flex;
    > div {
        width: 20%;
        padding: 5px;
        > div:nth-child(2) {
            font-weight: 600;
            font-size: 16px;
        }
    }
}
.MP_btns{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.MP_appraisal_comments{
    display: flex;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    padding-left: 45px;
    height: 45px;
    align-items: center;
    margin-left: 5px;
    margin-bottom:3px;
    cursor:pointer;
}
.MPRatingContainer{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}
.MP_RatingContentBox{
    display: flex;
    justify-content: space-between;
}
.edit_rate{
    display: flex;
    width: 50px;
}
.img_rate{width:20px;}
.MP_Details{
    width:100%;
    background-color: white;
    padding:10px;
    margin-left: 6px;
    >div:nth-child(1){
        display: flex;
        justify-content: flex-start;
        >div{
            width:30%;
        }
    }
    >div:nth-child(2){
        display: flex;
        justify-content: flex-start;
        >div{
            width:30%;
            font-weight: 600;
        }
    }
}


.employeeDetails{
    width: 100%;
    display: flex;
}

// Rating Model

.attributes{
    width: 100%;
    display: flex;
}

.attributeKey{
    width: 90%;
}

.attributeValue{
    width: 10%;
}

.ratingList{
    margin-top: 20px;
}

.ratingHeading{
    font-weight: 600;
    font-size: 17px;
    color: #3f51b5;
    padding: 5px 0px;
}

.showRatings{
    width: 100%;
    display: flex;
    height: 35px;
}

.showratingContent{
    width: 95%;
    color: #000000;
}


.showratingValue{
    border: 1px solid #0353A4;
    text-align: center;
    margin: 4px;
    padding: 2px 5px;
    width: 31px;
    height: 25px;
    border-radius: 6px;
}


//showRateingscontainer
.editRating{
    width: 20px;
    margin-top: 6px;
    cursor: pointer;
}