.Container{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.leftContainer{
  width: 40%;
}

.rightContainer{
  width: 40%;
}

.genderDobFlex{
  display: flex;
  justify-content: space-between;
  .selectbox{
    width: 200% !important;
  }
  .dobWid{
    width: 80%;
  }
}

.startdateEnddateFlex{
  width: 90%;
  display: flex;
  justify-content: space-between;
  .startdateWid{
    width: 88%;
  }
}

.ContentTitle {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  height: 40px;
  margin-bottom: 10px !important;
}
