
.hearingmaster_firstgrid .custom_labelbox{
    margin-bottom: 16px;    
}
.hearingmaster_firstgrid{
    margin-top: 10px;
    margin-bottom: 15px;
}
.hearing_outcome .formdiv .brdrcls{
    height: 70px !important;
}
.ad_journment{
    width:20%;
}
.hearing_div{
    background-color:#C4C4C4;
    border-radius: 5px;
}
.reson_hearing{
    width:50%;
}
.reson_hearing .formdiv .brdrcls{
    height: 70px !important;
}
.cus_create_task{
    min-width:240px !important;
    line-height:2 !important
}
.add_hearing_btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 8px;
}