.StagesTitle{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    bottom: 50px;
    margin-left: 30px;
}

.stagebtn{
    margin: 40px;
}

.stageHeading{
    font-size: 17px;
    font-weight: 600;
    color: #023E7D;
    ;
}

.stagebtn{
    text-align: right;
}

