.StagesTitle{
    font-size: 20px;
    font-weight: 600;
}

.stagebtn{
    margin: 40px;
}

.stageHeading{
    font-size: 17px;
    font-weight: 600;
    color: #023E7D;
    
}

.stagebtn{
    text-align: right;
}

