.user_master_h{
        font-size: 17px;
        font-weight: bold;
    }
.user_master_grid{
    margin:20px 0px 5px 0px;
}

.aligncss .MuiTableHead-root{
    background-color: #0353A4 !important;

}
.aligncss .MuiButtonBase-root.MuiTableSortLabel-root, .tableHeadsno{
    color:#fff !important;
}
.aligncss .MuiTableBody-root tr:nth-of-type(odd){
    background-color: #fff !important;

}
.items_align{
    margin:0px 0px 0px 20px;
}
// .items_align_des{
//     margin:0px 0px 0px 20px;
    
// }
// .items_textarea .custom_labelbox .formdiv .brdrcls{
//     height:100px !important;
// }