.employee_formdiv{
    padding: 20px;
}
.employeeform_row1{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    box-shadow: 0px 0px 4px 3px #b8b6b6;
    border-radius: 5px;
    background-color: #fff;
    justify-content: space-between;
    margin-bottom: 10px;
}
.headcolor{
    color:#0353A4 ;
    font-weight: 600;
}
.employeecont{
    text-align: center;
}
.employeeform_row2{
    display: flex;
    margin-bottom: 10px;

}
.employeeform_row2flex1{
    display: flex;
    box-shadow: 0px 0px 4px 3px #b8b6b6;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 10px;
    width: 50%;
    margin-right: 10px;
    justify-content: space-between;

}
.employeeform_row2flex2{
    display: flex;
    box-shadow: 0px 0px 4px 3px #b8b6b6;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 10px;
    width: 50%;
    justify-content: space-between;

}
.employeeform_r2{
    width: 50%;
}
.employeeform_r2 .employeecont{
    text-align: unset;
}
.employeeform_row3,.employeeform_row5,.employeeform_row4,.employeeform_row6{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    box-shadow: 0px 0px 4px 3px #b8b6b6;
    border-radius: 5px;
    background-color: #fff;
    justify-content: space-between;
    margin-bottom: 10px;
}
.employeeform_row3 .employeeform_r2{
    width: 30%;
}
.employeeform_row4 .employeeform_r2{
    width: 30%;
}.employeeform_row5 .employeeform_r2{
    width: 30%;
}
.employeeform_row6 .employeeform_r2{
    width: 25%;
}
.employeeform_row7{
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.employeeform_row7 div{
    // margin: 0px 5px;
    width: 18%;
}
.employeeform_row7 div div{
    width: 100%;
}
.employeeform_row7 .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    height: 28px;
}
.employeeform_row8{
    margin-bottom: 10px;
    margin: 0px 15px 10px 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.employeeform_row8 div{
    // margin: 0px 5px;
    width: 23%;
}
.employeeform_row8 div div{
    width: 100%;
}
.employeeform_row8 .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    height: 28px;
}
.empform_upload_doc div{
    width: 50% !important;
}
.empform_upload_doc div div{
    width: 100% !important;
}
.employeeform_row7 .ant-select-selector{
    box-shadow: 0px 0px 4px 2px #b8b6b6;
    border-radius: 5px !important;

}
.employeeform_row8 .ant-select-selector{
    box-shadow: 0px 0px 4px 2px #b8b6b6;
    border-radius: 5px !important;

}
.employeeform_row7 .formdiv .brdrcls{
    box-shadow: 0px 0px 4px 2px #b8b6b6;
    border-radius: 5px !important;
}
.employeeform_row8 .formdiv .brdrcls{
    box-shadow: 0px 0px 4px 2px #b8b6b6;
    border-radius: 5px !important;
}
.employeeform_save{
    display: flex;
    justify-content: flex-end;
}
.employeeform_save Button{
    background-color: #0353A4;
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    text-transform: unset;
    border-radius: 30px;
    padding: 3px 30px;
    box-shadow: 0px 3px 5px 3px #b8b6b6;
    margin-left: 8px;

}