.projectFormTitle{
    font-size: 18px;
    font-weight: 600;
    
}

.projectFormContent{
    margin:40px 20px 40px 40px;
    
}

.customFormbtn{
    text-align: right;
    margin: 40px 70px  20px 10px;
}

.btnProjectForm{
    width: 13%;
    font-weight: bold;
}

.projectTestArea .formdiv .brdrcls{
    height: 100px;
}

