
.ratemaster_firstgrid .custom_labelbox{
    margin-bottom: 23px;    
}
.ratemaster_firstgrid{
    margin-top: 10px;
    margin-bottom: 15px;
}

.rate_cus_btns{
   padding-left: 24px;
   margin-bottom: 30px;
}
.rate_enhanced_table .tableTitle {
    font-size: 13px;
}