
//****** tooltip ********//
.tooltiptitle{
    font-size: 13px;
    text-align: initial;
    padding-left: 12px;
    font-weight: bold;
}
.maintitle{
    color: #757575;
    margin-left: 30px;
}
.subtitle {
    white-space: nowrap;
    font-size: 10px;
    color: #757575;
}

.hours{
    display: flex;
    font-weight: bold;
}
.time{
    white-space: nowrap;
    font-weight: bold;
    }
