.customPrimary.MuiButton-contained {
    background-color: #023e7d;
    color: white;
    text-transform: inherit;
}
.customPrimary.MuiButton-contained:hover {
    background-color: #052a52 !important;
}

.btnContainer {
    margin: 0 5px !important;
    width: 20%;
}
