.task_head{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}

div.card_div > div.MuiPaper-elevation1 {
    margin-bottom: 7px !important;
}

.Reassign_Img{
    margin: 12px;
    width: 30px;
    height: 30px;
    background-color: #fafbff;
    border-radius: 4px;
    cursor: pointer;
}

.Reassign_Div{
    background-color: rgb(112, 112, 112);
    width: 55px;
    text-align: center;
}