
.carosal_root .slick-slide {
    margin: 0 20px;
  }
  .carosal_root .slick-next:before, .slick-prev:before{
      color:rgb(131, 175, 64) !important;
      font-size: 35px !important;
  }
  .carosal_root .slick-next{
    right: -37px !important;
  }
  .carosal_root .slick-prev{
      display: none !important;
  }
  .img_cat_Container{
      width:13%;
  }
  .attch_btn_css{
      box-shadow: none !important;
      margin-bottom: 5px !important;
  }
