.leaveMainHeader{
    font-weight: 600;
    font-size: 18px;
}

.leaveFields{
    margin: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

.leavebuttons{
    width: 20%;
}

.editImage{
    width: 20px;
}
.leaveFieldheading{
    margin-bottom: 5px;
}

// leave form

.leavetableformat{
    margin-top: 40px;
}

.reasonscmt .formdiv .brdrcls {
    height: 80px;
  }