.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: black !important;
    font-weight: 500;
    border-radius: 10px !important;

}

.ant-tabs-tab .ant-tabs-tab-active{
    border-radius: 10px 10px 0px 0px !important;
    background: #bdbdbd !important;

}