.timeSheetStartContainer{
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
}


.timeSheetDatesFormat{
    margin-top: 20px;
}

.customiseButton{
    text-align: right;
}

.timeSheetButtons{
    width: 10%;

}

//time sheet comments==>

.timeSheetComments{
    padding: 15px;
}

.timeSheetComments .formdiv .brdrcls{
    height: 150px;
}
