.timeSheetStartContainer{
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
}


.timeSheetDatesFormat{
    margin-top: 20px;
}

.customiseButton{
    text-align: right;
    margin: 250px 50px 20px 0px;
}

.timeSheetButtons{
    width: 10%;

}